﻿@model IEnumerable<E_Farm.Areas.Admin.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Tin tức</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <img src="@item.Picture" width="200" height="200"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsId }) |
            @Html.ActionLink("Details", "Details", new { id = item.NewsId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsId }, new { @onclick = "return confirm('Do you want delete this?')"})
        </td>
    </tr>
}

</table>
