﻿@model IEnumerable<E_Farm.Areas.Admin.Models.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Hình thức thanh toán</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PayId }, new { @class = "btn btn-primary"})
            @Html.ActionLink("Delete", "Delete", new { id = item.PayId }, new {@class="btn btn-danger", @onclick = "return confirm('Do you want delete this?')"})
        </td>
    </tr>
}

</table>
