﻿@model IEnumerable<E_Farm.Areas.Admin.Models.Basket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    var list = (List<E_Farm.Areas.Admin.Models.Basket>)Session["Basket"];
}

<!-- breadcrumb -->
<div class="container" style="margin-top:50px">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="@Url.Action("Home","Home")" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>
</div>

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container" style="margin-top:-50px">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart" style="width:685px">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Sản phẩm</th>
                                <th class="column-2"></th>
                                <th class="column-3">Giá</th>
                                <th class="column-4" style="text-align:center">Số lượng</th>
                                <th class="column-5">Tổng tiền</th>
                                <th class="column-6"></th>
                            </tr>

                            @foreach (var item in list)
                            {
                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="@item.Picture" alt="IMG">
                                        </div>
                                    </td>
                                    <td class="column-2">@item.Name</td>
                                    <td class="column-3">@item.Price</td>
                                    <td class="column-4">
                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>
                                            <input class="mtext-104 cl3 txt-center num-product" type="number" id="quantity@(item.ProductId)" name="num-product1" value="@item.Quantity">
                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="column-5">
                                        @item.TotalPrice
                                        <a onclick="RemoveProduct(@item.ProductId)" class="glyphicon glyphicon-remove" style="color:red;"></a>
                                        <a onclick="UpdateProduct(@item.ProductId)" class="fa fa-refresh" style="color:forestgreen;"></a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                    @*<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm" style="width:685px">
                        <p class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">Cập nhật</p>
                    </div>*@
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Thông tin đơn hàng
                    </h4>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Tiền thanh toán:
                            </span>
                        </div>
                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                @Session["TotalPrice"] vnđ
                                <input type="text" hidden id="TotalPrice" value="@Session["TotalPrice"]"/>
                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Tên người nhận:
                            </span>
                        </div>
                        <div class="size-209">
                            <span class="stext-111 cl2">
                                <input type="text" disabled id="CustomerName" value="@Session["CustomerName"]" class="form-control" />
                                <input type="text" hidden id="checkLogin" value="@Session["login"]" class="form-control" />

                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Số điện thoại:
                            </span>
                        </div>
                        <div class="size-209">
                            <span class="stext-111 cl2">
                                <input type="text" disabled id="CustomerPhone" value="@Session["CustomerPhone"]" class="form-control" />
                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Địa chỉ:
                            </span>
                        </div>
                        <div class="size-209">
                            <span class="stext-111 cl2">
                                <input type="text" disabled id="CustomerAddress" value="@Session["CustomerAddress"]" class="form-control" />
                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                        <div class="size-208 w-full-ssm">
                            <span class="stext-110 cl2">
                                Đang chờ xác nhận:
                            </span>
                        </div>
                        <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                            <p class="stext-111 cl6 p-t-2">
                                Xin vui lòng kiểm tra kỹ thông tin liên lạc và địa chỉ. Xin cám ơn quý khách đã sử dụng dịch vụ của chúng tôi!
                            </p>

                            <div class="p-t-15">
                                <span class="stext-112 cl8">
                                    Calculate Shipping
                                </span>
                                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                                    @*@Html.DropDownList("cbbPayment", ViewBag.cbbPayment as SelectList, "Hình thức thanh toán", new { @class = "js-select2" })*@
                                    @Html.DropDownList("PayId", null, htmlAttributes: new { @class = "js-select2" })
                                    <div class="dropDownSelect2"></div>
                                </div><div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                                    @*@Html.DropDownList("cbbPayment", ViewBag.cbbTransfer as SelectList, "Hình thức vận chuyển", new { @class = "js-select2" })*@
                                    @Html.DropDownList("TranId", null, htmlAttributes: new { @class = "js-select2" })
                                    <div class="dropDownSelect2"></div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>
                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                @Session["TotalPrice"] vnđ
                            </span>
                        </div>
                    </div>
                    <div class="flex-w">
                        <p onclick="CheckOut()" class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">Đặt hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function RemoveProduct(id) {
        if (confirm("Bạn có muốn xóa sản phẩm khỏi giỏ hàng không?")) {
            $.ajax({
                type: 'POST',
                url: '/ShoppingCart/RemoveProduct',
                data: {
                    id: parseInt(id)
                },
                success: function (data) {
                    alert("Xóa sản phẩm thành công");
                    window.location.reload();
                },
                error: function (msg) {
                    alert(msg.statusText);
                }
            });
        }
    }

    function UpdateProduct(id) {
        var quantity = $('#quantity' + id).val();
        $.ajax({
            type: 'POST',
            url: '/ShoppingCart/UpdateProduct',
            data: {
                id: parseInt(id),
                quantity: parseInt(quantity)
            },
            success: function (data) {
                if (data == "") {
                    alert("Update thành công");
                    window.location.reload();
                }else{
                    alert(data);
                    $('#quantity').val(quantity);
                }
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
    }

    function CheckOut() {
        var CustomerName = $('#CustomerName').text().trim();
        var CustomerPhone = $('#CustomerPhone').val();
        var CustomerAddress = $('#CustomerAddress').val();
        var ccbTransport = $('#TranId').val();
        var ccbPayment = $('#PayId').val();
        var checkLogin = $('#checkLogin').val();
        var TotalPrice = $('#TotalPrice').val();

        if (checkLogin == 0) {
            alert("Mời đăng ký tài khoản để mua hàng online! Xin cám ơn!");
        }else if(TotalPrice == 0){
            alert("Giỏ hàng bạn đang trống! Hãy đặt mua sản phẩm");
        } else if(checkLogin != 0 && TotalPrice > 0){
            $.ajax({
                type: 'POST',
                url: '/ShoppingCart/Order',
                data: {
                    PaymentId: parseInt(ccbPayment),
                    TransportsId: parseInt(ccbTransport)
                },
                success: function (data) {
                    alert(data);
                    window.location.reload();
                },
                error: function (msg) {
                    alert(msg.statusText);
                }
            });
        } else {
            alert("Hệ thống đang bảo trì mời bạn quay lại sau! XIn cám ơn!");
        }

    }
</script>
