﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<marquee scrollamount="10"><p style="font-size:30px; font-weight:bold; color:#65aaf0">Hi, Welcome to Vuon rau que Inc.</p></marquee>

<br />
<div class="container" style="width:970px">
    <iframe width="921" height="500" src="https://www.youtube.com/embed/RhCsN5GgbOA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br />
    <iframe width="921" height="500" src="https://www.youtube.com/embed/BfOfI6bD9aU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>