﻿@model E_Farm.Areas.Admin.Models.AccountCustomer

@{
    ViewBag.Title = "Change Information";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<br /><br />
<h1 style="text-align:center">Thông tin khách hàng</h1>
<p>@Html.Raw(TempData["errMessage"])</p>
<p>@Html.Raw(TempData["errMessages1"])</p>
@using (Html.BeginForm("ChangeImfor", "AccountCustomers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br /><br /><br />
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                <span>Nam</span>
                @Html.RadioButtonFor(model => model.Gender, true, new { id = "male", @style = "width:auto; background:none; border:none" })
                <span>Nữ</span>
                @Html.RadioButtonFor(model => model.Gender, false, new { id = "female", @style = "width:auto; background:none; border:none" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Mật khẩu mới</label>
            <div class="col-md-6">
                <input type="password" id="ConfirmPassword" name="newPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"> Nhập lại mật khẩu mới</label>
            <div class="col-md-6">
                <input type="password" id="ConfirmPassword" name="confirmNewPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.HiddenFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })
                <input type="file" name="UploadImgAccCus" id="UploadImgAccCus" class="form-control" />
                @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:590px;">
                <input type="submit" value="Save" class="btn btn-default" onclick="alert('Cập nhập thông tin thành công')"/>
            </div>
        </div>
    </div>
}