﻿@model E_Farm.Areas.Admin.Models.AccountCustomer

@{
    ViewBag.Title = "Imformation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<br /><br /><br />
<h1 style="text-align:center">Thông tin khách hàng</h1>
<div>
    <br />
    <table class="table table-responsive">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
            <td>@Html.DisplayFor(model => model.Fullname)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <td>
                @if (Model.Gender)
            {
                <span>Nam</span>
            }
            else
            {
                <span>Nữ</span>
            }
        </td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <td>@Html.DisplayFor(model => model.Address)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <td>@Html.DisplayFor(model => model.Phone)</td>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <td>@Html.DisplayFor(model => model.Username)</td>
    </tr>w
    <tr>
        <th>@Html.DisplayNameFor(model => model.Picture)</th>
        <td><img src="@Model.Picture" width="200" /></td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
        <td>@Html.DisplayFor(model => model.CreateDate)</td>
    </tr>
</table>

</div>
<center>
    <p>
        @Html.ActionLink("Sửa", "ChangeImfor", new { id = Model.CustomerId }, new { @class = "btn btn-default" })
    </p>
</center>