﻿@model IEnumerable<E_Farm.Areas.Admin.Models.CommentProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Đánh giá sản phẩm</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CommentId }, new { @onclick = "return confirm('Do you want delete this?')"})
        </td>
    </tr>
}

</table>
