﻿@{ 
    if (Session["FullnameAdmin"] == null)
    {
        Response.Redirect("~/Admin/System/Login");
    }

    var list = (IEnumerable<E_Farm.Areas.Admin.Models.Order>)Session["Order"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vườn rau quê</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Areas/Admin/Content/templateAdmin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/templateAdmin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/templateAdmin/vendors/css/vendor.bundle.addons.css">  
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Search/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Areas/Admin/Content/templateAdmin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/templateCustomer/images/logo.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

            <!-- Logo -->
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="@Url.Action("Index","System")">
                    <img src="~/Areas/Admin/Content/templateAdmin/images/logo.png" style="height:89px; margin-top:-14px" alt="logo" />
                </a>
            </div>

            <!-- headder -->
            <!--Thanh tabbav headder-->
            <div class="navbar-menu-wrapper d-flex align-items-center">

                <!-- Điều hướng narbar -->
                @*<ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Schedule
                            <span class="badge badge-primary ml-1">New</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-elevation-rise"></i>Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-bookmark-plus-outline"></i>Score
                        </a>
                    </li>
                </ul>*@

                <ul class="navbar-nav navbar-nav-right">

                    <!-- thông báo -->
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count">@Session["QuantityOrder"]</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    Có @Session["QuantityOrder"] đơn hàng chưa xác nhận
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>

                            <div class="dropdown-divider"></div>

                            @foreach (var item in list)
                            {
                            <a class="dropdown-item preview-item" href="/Admin/Orders/Details/@item.OrderId">
                                <div class="preview-thumbnail">
                                    <img src="@item.AccountCustomer.Picture" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">@item.AccountCustomer.Fullname</h6>
                                    
                                        @{
                                            TimeSpan span = DateTime.Now - item.CreateDate;

                                            if (span.Days > 0)
                                            {
                                                <p class="font-weight-light small-text">khoảng @span.Days ngày trước</p>
                                            }

                                            else if (span.Hours > 0)
                                            {
                                                <p class="font-weight-light small-text">khoảng @span.Hours giờ trước</p>
                                            }

                                            else if (span.Minutes > 5)
                                            {
                                                <p class="font-weight-light small-text">khoảng @span.Minutes phút trước</p>
                                            }

                                            else if (span.Minutes <= 5)
                                            {
                                                <p class="font-weight-light small-text">Vừa xong</p>
                                            }
                                            
                                        }
                                </div>
                            </a>
                            }
                        </div>
                    </li>

                    <!-- user đăng nhập -->
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <!-- ảnh user đăng nhập -->
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Hello, @Session["FullnameAdmin"] !</span>
                            <img class="img-xs rounded-circle" src="@Session["AvatarAdmin"]" alt="Profile image">
                        </a>

                        <!-- dropdown menu đăng xuất -->
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2" href="/Admin/AccountAdmins/Details/@Session["IdAdmin"]">
                                Quản lý tài khoản
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Logout","System")">
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <!-- thanh control - left -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <!-- user đang online -->
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="@Session["AvatarAdmin"]" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">@Session["FullnameAdmin"]</p>
                                    <div>
                                        <small class="designation text-muted">Manager</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Tables</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","AccountAdmins")">Account Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","AccountCustomers")">Account Customer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Categories")">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","News")">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Payments")">Payment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Transports")">Transport</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Products")">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Orders")">Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","OrderDetails")">Order Detail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","CommentProducts")">Comment Product</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <!-- body -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © @DateTime.Now
                            <a href="https://www.facebook.com/DungNM2712" target="_blank">Vườn rau quê</a>.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/jquery-1.9.1.min.js"></script>
    <script src="/Areas/Admin/Content/templateAdmin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Areas/Admin/Content/templateAdmin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Areas/Admin/ContenttemplateAdmin//js/off-canvas.js"></script>
    <script src="/Areas/Admin/Content/templateAdmin/js/misc.js"></script>
    <script src="/Areas/Admin/Content/templateAdmin/js/dashboard.js"></script>
    <script src="~/Areas/Admin/Content/Search/DataTables/js/jquery.dataTables.min.js"></script>
    
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

    <script>
        //$(function () {
        //    $.ajax({
        //        type: 'GET',
        //        url: 'Admin/System/CheckOrder',
        //    });
        //});
    </script>

</body>
</html>