﻿@model IEnumerable<E_Farm.Areas.Admin.Models.AccountAdmin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            <img src="@item.Picture" width="130"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccAdminId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccAdminId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccAdminId }, new { @onclick = "return confirm('Bạn có muốn xóa không?')" })
        </td>
    </tr>
}

</table>
