﻿@model PagedList.IPagedList<E_Farm.Areas.Admin.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh sách sản phẩm</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>


@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <input type="text" id="search" name="search" />
    <button name="submit" type="submit" class="btn btn-primary">Tìm kiếm</button>
}

@Html.Raw(TempData["errMessage"])
<div id="result">
    <table class="table table-striped">
        <tr>
            <th>
                Danh mục
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Trạng thái
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceDiscount)
                </td>
                <td>
                    <img src="@item.Picture" width="300" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ProductId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger", @onclick = "return confirm('Do you want delete this?')" })
                </td>
            </tr>
        }
    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNo => Url.Action("Index","Products", new { pageNo,search=Request.QueryString["search"] }))

