﻿@model IEnumerable<E_Farm.Areas.Admin.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<table class="table table-striped">
    <tr>
        <th>
            Danh mục
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá
        </th>
        <th>
            Giảm giá
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Trạng thái
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDiscount)
            </td>
            <td>
                <img src="@item.Picture" width="300" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger", @onclick = "return confirm('Do you want delete this?')" })
            </td>
        </tr>
    }
</table>


