﻿@model PagedList.IPagedList<E_Farm.Areas.Admin.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "_View";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>_View</h2>

<table>
    <tr>
        <th>Ten</th>
        <th>mota</th>
        <th>date</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreateDate</td>
        </tr>
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetPaging", new { page}),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET",UpdateTargetId= "customer_area" })))



