﻿@model PagedList.IPagedList<E_Farm.Areas.Admin.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>
<div id="customer_area">
    @{ Html.RenderAction("GetPaging", "Product1", new { page = 1 });}
</div>
