﻿@model PagedList.IPagedList<E_Farm.Areas.Admin.Models.GetOrder>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách đơn hàng chi tiết</h2>

<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Sản phẩm
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Phương thức vận chuyển
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Tình trạng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>

@(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo }))