﻿@model IEnumerable<E_Farm.Areas.Admin.Models.OrderInformation>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Chi tiết đơn hàng</h2>

    <h4>Đơn hàng</h4>
    <hr />
<table border="1">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Hình thức thanh toán
        </th>
        <th>
            Hình thức vận chuyển
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Xác nhận
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Xuất excel", "ExportToExcel", new { id = item.OrderId }) |
                @Html.ActionLink("Xác nhận", "Edit", new { id = item.OrderId }) |
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Quay lại", "Index")