﻿@model PagedList.IPagedList<E_Farm.Areas.Admin.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh sách đơn hàng</h2>
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Ngày mua
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><h2>Không có đơn hàng nào</h2></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountCustomer.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.OrderId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.OrderId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.OrderId }, new { @class = "btn btn-danger", @onclick = "return confirm('Do you want delete this?')" })|
                </td>
            </tr>
        }
    }
</table>

@(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo }))
