﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Content/templateCustomer/images/anhnen.jpg');">
    <h2 class="ltext-105 cl0 txt-center" style="color:brown">
        Giới thiệu
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Lời đầu tiên cho phép chúng tôi gửi tới quý vị lời chúc sức khỏe và lời chào trân trọng đến quý khách hàng - những người đã tin dùng và luôn đồng hành cùng chúng tôi trên con đường tạo ra những loại thực phẩm sạch, an toàn cho sức khỏe !!!
                    </h3>
                    <p>
                        Hiện nay, khi nền kinh tế phát triển, nhu cầu đời sống của người dân ngày càng được nâng cao thì vấn đề về sức khỏe và vệ sinh ăn uống ngày càng được chú trọng, vì thế <b>E-FRAM</b> ra đời nhằm :
                    </p>
                    <p>
                        Tìm kiếm nơi trồng <b>rau củ quả sạch</b> cung cấp cho người tiêu dùng nhanh chóng, tiện lợi, đa dạng sản phẩm với giá cả hợp lý.
                    </p>
                    <p>
                        Giải quyêt 4 vấn đề lớn mà người tiêu dùng quan tâm :
                    </p>
                    <p>
                        + Đúng <b>rau củ quả sạch</b> hay không?
                    </p>
                    <p> + Giá cả có đúng với chất lượng sản phẩm?</p>
                    <p> + <b>Rau sạch được sản xuất ở đâu?</b></p>
                    <p> + Cầu nối để kết nối giữa người trồng và người tiêu dùng?</p>
                    <p>
                        Chúng tôi cam kết về chất lượng và giá thành hợp lý cho sản phẩm đầu ra vì sản phẩm rau sạch được kiểm nghiệm trước khi tung ra thị trường, môi trường nuôi trồng thường xuyên được khảo sát
                    </p>
                    <p>
                        Dịch vụ chú trọng đến sản phẩm sạch, đa dạng chủng loại và cả giá trị dinh dưỡng: Vừa sạch vừa ngon vừa tốt cho sức khỏe                  
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/templateCustomer/images/slider3.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        E-FRAM
                    </h3>
                    <p>
                        Tâm niệm của chúng tôi <b>"chất lượng làm nên sự khác biệt"</b> thể hiện qua:
                    </p>
                    <p>+ Chất lượng sản phẩm</p>
                    <p>+ Chất lượng giá cả</p>
                    <p> + Chất lượng dịch vụ</p>
                    <p>Chúng tôi xây dựng lại từ đầu niềm tin vào nơi sản xuất, nơi nhà phân phối, nơi người tiêu dùng</p>
                    </p>
                    <p>Nhiều người dân cũng đang tìm kiếm nguồn <b>rau sạch cho gia đình</b> nhưng không biết mua ở đâu? Hãy đến với dịch vụ <b>E-FRAM</b> của chúng tôi, nơi cung cấp các sản phẩm đã test qua tại nơi sản xuất, có kiểm nghiệm rõ ràng, quy trình minh bạch 100%, đúng <b>tiêu chuẩn rau sạch - rau hữu cơ</b> , giá lại khá mềm vừa túi tiền cho tất cả gia đình.</p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p>
                            Mục đích của chúng tôi muốn xây dựng kênh dịch vụ này để giới thiệu rộng rãi nguồn sản phẩm tốt cho người dân thành phố. Chúng tôi cũng sẽ tiếp tục tìm kiếm nguồn thực phẩm sạch để đa dạng hóa sản phẩm đáp ứng nhu cầu thực, hy vọng sẽ được nhiều người đón nhận và đóng góp ý kiến để kênh dịch vụ này ngày càng cải tiến và hoàn thiện hơn.
                        </p>
                        <p> Nếu bạn quan tâm vấn đề rau sạch hãy gọi ngay số <b>hotline 0979672098</b> để tìm hiểu, mua sản phẩm dùng thử và cảm nghiệm uy tín của dịch vụ cung cấp thực phẩm sạch mà chúng tôi đang triển khai tới nhiều gia đình Việt.</p>
                        <span class="stext-111 cl8">
                            - E-Fram
                        </span>
                    </div>
                </div>
            </div>
            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/templateCustomer/images/slider2.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

