﻿@model IEnumerable<E_Farm.Areas.Admin.Models.Product>

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    var lstCategory = (List<E_Farm.Areas.Admin.Models.Category>)Session["Category"];
}

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(/Content/templateCustomer/images/banner.png);">
            </div>
            <div class="item-slick1" style="background-image: url(/Content/templateCustomer/images/anhnen.jpg);">
            </div>
            <div class="item-slick1" style="background-image: url(/Content/templateCustomer/images/slider2.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Vườn rau quê
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Xem sản phẩm ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--===============================================================================================-->


<!--===============================================================================================-->
<!-- Body hiển thị sản phẩm -->

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5" style="font-family:sans-serif">
                Một số sản phẩm
            </h3>
        </div>

        <!--    Hiển thị sản phẩm -->
        <div class="row isotope-grid">

           @foreach (var item in Model)
           {
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img id="PI@(item.ProductId)" src="@item.Picture" alt="IMG-PRODUCT" height="220">
                        <a href="" onclick="showModalDetail(@item.ProductId)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            @*js-show-modal1 "*@
                            Add to card
                        </a>
                    </div>      
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a id="N@(item.ProductId)" href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Tên sản phẩm: @item.Name
                            </a>
                            <div class="stext-105 cl3">

                                @if (item.PriceDiscount > 0)
                                {
                                    if (item.Quantity == 0)
                                    {
                                        <del id="PR1@(item.ProductId)" class="label2" data-label1="Hết hàng" style="font-size:13px"><i class="fa fa-dollar"></i> @item.Price đ</del>
                                        <p id="PRD@(item.ProductId)" class="label1" data-label1="hot" style="color:orangered; font-size:13px"><i class="fa fa-dollar"></i> @item.PriceDiscount đ</p>
                                    }
                                    else
                                    {
                                        <del id="PR1@(item.ProductId)" style="font-size:13px"><i class="fa fa-dollar"></i> @item.Price đ</del>
                                        <p id="PRD@(item.ProductId)" class="label1" data-label1="hot" style="color:orangered; font-size:13px"><i class="fa fa-dollar"></i> @item.PriceDiscount đ</p>
                                    }
                                }
                                else
                                {
                                    if (item.Quantity == 0)
                                    {
                                        <p id="PR2@(item.ProductId)" class="label2" data-label1="Hết hàng" style="font-size:13px"><i class="fa fa-dollar"></i> @item.Price đ</p>
                                    }
                                    else
                                    {
                                        <p id="PR2@(item.ProductId)" style="font-size:13px"><i class="fa fa-dollar"></i> @item.Price đ</p>
                                    }
                                }

                            </div>

                            <span id="MT@(item.ProductId)" hidden class="stext-105 cl3">
                                @Html.Raw(item.Description)
                            </span>
                            <span id="ID@(item.ProductId)" hidden class="stext-105 cl3">
                                @item.ProductId
                            </span>
                        </div>
                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="/Content/templateCustomer/images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Content/templateCustomer/images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           }

        </div>

        

</div>

</section>

<!-- Kết thúc body hiển thị sản phẩm -->
<!--===============================================================================================-->
<!-- Modal add to cart -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20" id="myModal">
    <div class="overlay-modal1 js-hide-modal1"></div>
    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img src="/Content/templateCustomer/images/icons/icon-close.png" alt="CLOSE">
            </button>
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                            <div class="slick3 gallery-lb">
                                <div class="item-slick3" data-thumb="/Content/templateCustomer/images/product-detail-01.jpg">
                                    <div class="wrap-pic-w pos-relative">
                                        <img id="MPI" src="/Content/templateCustomer/images/product-detail-01.jpg" alt="IMG-PRODUCT" style="width:550px; height:350px">
                                        @*<a id="room" class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Content/templateCustomer/images/product-detail-01.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14" id="productName">
                            Tên sản phẩm
                        </h4>
                        <span class="mtext-106 cl2" id="price">
                            Giá
                        </span>
                        <p class="stext-102 cl3 p-t-23" id="moTa">
                            Mô tả
                        </p>
                        <p class="stext-102 cl3 p-t-23" hidden id="id">
                            id
                        </p>
                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10" style="margin-left:-105px">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>
                                        <input class="mtext-104 cl3 txt-center num-product" id="quantity" type="number" name="num-product" value="1">
                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" onclick="btnAddToCart()">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7" style="margin-left: -100px;">
                            <input type="text" id="CommentName" placeholder="Mời nhập tên" class="form-control" />
                            <hr />
                            <textarea id="ContentComment" class="form-control"></textarea>
                            <hr />
                        </div>
                        <br />
                        <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" onclick="btnAddComment()">
                            Bình luận sản phẩm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->


<script>
    function showModalDetail(typeid) {
        $('#productName').text($('#N' + typeid).text().trim());
        var priceDiscount = $('#PRD' + typeid).text().trim();
        var price1 = $('#PR1' + typeid).text().trim();
        var price2 = $('#PR2' + typeid).text().trim();
        if (priceDiscount == "") {
            $('#price').text(price2);
        }
        else {
            $('#price').text(priceDiscount);
        }

        $('#MPI').attr('src', $('#PI' + typeid).attr('src'));
        $('#moTa').text($('#MT' + typeid).text().trim());
        $('#id').text($('#ID' + typeid).text().trim());
        $('#CommentName').val("");
        $('#ContentComment').val("");
        $('#quantity').val(1);

    }

    function btnAddToCart() {
        var productName = $('#productName').text();
        var id = $('#id').text();
        var quantity = $('#quantity').val();
        $.ajax({
            type: 'POST',
            url: '/ShoppingCart/AddToCart',
            data: {
                id: parseInt(id),
                quantity: parseInt(quantity)
            },
            success: function (data) {
                if (data == "") {
                    alert("Thêm giỏ hàng thành công");
                    window.location.reload();
                } else {
                    alert(data);
                    $('#quantity').val(0);
                }
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });

    }

    function btnAddComment() {
        var CommentName = $('#CommentName').val();
        var ContentComment = $('#ContentComment').val();

        $.ajax({
            type: 'POST',
            url: '/CommentProduct/AddComment',
            data: {
                Name: CommentName,
                ContentComment: ContentComment
            },
            success: function (data) {
                alert(data);
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
    }


</script>