﻿@{
    ViewBag.Title = "Test";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/templateCustomer/images/logo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/templateLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="/Home/Login" method="post">
                    <span class="login100-form-title p-b-26" style="margin-top: -47px;">
                        Xin chào
                    </span>
                    <span class="login100-form-title p-b-48">
                        <a href="@Url.Action("Home","Home")"><img width="140" src="~/Areas/Admin/Content/templateAdmin/images/logo.png" /></a>
                    </span>
                    @Html.Raw(TempData["msg"])
                    <div class="wrap-input100 validate-input"  data-validate="Mời nhập tên đăng nhập">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100" data-placeholder="Tên đăng nhâp"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Mời nhật mật khẩu">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="user_password">
                        <span class="focus-input100" data-placeholder="Mật khẩu"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Đăng nhập
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Bạn chưa có tài khoản?
                        </span>
                        <a class="txt2" href="/AccountCustomers/Register">
                            Đăng ký
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="/Content/templateLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Content/templateLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/templateLogin/js/main.js"></script>

</body>
</html>
