﻿@model IEnumerable<E_Farm.Areas.Admin.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    var top8product = (List<E_Farm.Areas.Admin.Models.Product>) Session["Top8Product"];
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Content/templateCustomer/images/anhnen.jpg');">
    <h2 class="ltext-105 cl0 txt-center" style="color:unset">
        Tin tức
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    @foreach (var item in Model)
                    {
                    <!-- item blog -->
                    <div class="p-b-63">
                        <a href="/News/Details/@item.NewsId" class="hov-img0 how-pos5-parent">
                            <img src="@item.Picture" alt="IMG-BLOG">
                            <div class="flex-col-c-m size-123 bg9 how-pos5">
                                <span class="ltext-107 cl2 txt-center">
                                    @item.CreateDate.Day
                                </span>
                                <span class="stext-109 cl3 txt-center">
                                    @item.CreateDate.Month/@item.CreateDate.Year
                                </span>
                            </div>
                        </a>
                        <div class="p-t-32">
                            <h4 class="p-b-15">
                                <a href="/News/Details/@item.NewsId" class="ltext-108 cl2 hov-cl1 trans-04">
                                    @item.Title
                                </a>
                            </h4>
                        </div>
                    </div>
                    }
                    

                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    <div class="bor17 of-hidden pos-relative">
                        <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search">
                        <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                    <div class="p-t-65">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Featured Products
                        </h4>
                        <ul>
                        @foreach (var item in top8product)
                        {

                            <li class="flex-w flex-t p-b-30">
                                <a href="/Product/Index" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                    <img src="@item.Picture" width="100" height="100">
                                </a>
                                <div class="size-215 flex-col-t p-t-8">
                                    <a href="/Product/Index" class="stext-116 cl8 hov-cl1 trans-04">
                                        @item.Name
                                    </a>
                                    <span class="stext-116 cl6 p-t-20">
                                        $@item.Price
                                    </span>
                                </div>
                            </li>
                          }
                        </ul>
                    </div>
                    <div class="p-t-50">
                        <h4 class="mtext-112 cl2 p-b-27">
                            Tags
                        </h4>
                        <div class="flex-w m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Fashion
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Lifestyle
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Denim
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Streetstyle
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Crafts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	

