﻿@model IEnumerable<E_Farm.Areas.Admin.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh mục</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@Html.Raw(TempData["errMessage"])
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.CateId }, new { @class = "btn btn-danger", @onclick = "return confirm('Do you want delete this?')" })
        </td>
    </tr>
}

</table>
